.bigContent{
    cursor: pointer;
    padding: 5px !important;
    font-family: 'Roboto', sans-serif;
}

.post{
    margin-bottom: 10px;
    padding-bottom: 5px;
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}

.readArticle{
    background-color: darkGreen;
    color: white;
    border: none;
    border-radius: 5px;
}

.mainTitle{
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}