.ope{
text-align: center !important;
}

/* .loButton{
color: darkgrey;
cursor: pointer;
} */

body{
  padding-top: 100px;
  padding-bottom: 150px;
  font-family: 'Roboto', sans-serif;
}

.bigContent{
  margin-bottom: 20px;
}

figcaption{
  text-align: right;
  color: grey !important;
}